/* svg */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 svg {
    color: white;
    font-size: 40px;
    border-radius: 50%;
    width: 50px;
 }

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}

 /* topNavBar */
.topNavBar {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s;
    color: #B7B7B7;
}
.topNavBar-inner {
    padding: 0 10px;
}

/* topNavBar.sticky */
.topNavBar.sticky {
    position: fixed;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    color: #3d4451;
}

.logo {
    float: left;
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 0;
    padding-bottom: 6px;
}
.logo .rs {
    margin-right: -4px;
    color: #E6686A;
}
.logo .card {
    color: #9A9DA2;
}

.topNavBar nav {
    padding-top: 6px;
    padding-bottom: 2px;
}
.topNavBar nav>ul {
    float: right;
    list-style: none;
}

.topNavBar nav>ul>li {
    float: left;
    position: relative;
    margin: 0 17px;
}

.topNavBar ul a {
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
}

.topNavBar ul li.active a::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #da6163;
    border-radius: 2px;
    animation: topLiBor 0.3s linear;
}
@keyframes topLiBor{
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: #3d4451;
}
.topNavBar li.active .submenu {
    display: block;
    animation: submenu 0.3s;
    overflow: hidden;
}
@keyframes submenu {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}

/* 禁用换行后可让submenu不尽量变窄而缩到和父元素同宽 */
.topNavBar .submenu > li {
    white-space: nowrap;
    padding: 5px 10px;
}

.banner {
    height: 545px;
    background: url('../img/arkback.jpg') top center;
    background-size: cover;
}
.banner .mask {
    height: 545px;
    background-color: rgba(0,0,0,0.5);
}

/* userCard */
.userCard {
    position: relative;
    max-width: 930px;
    margin: -350px auto;
    background-color: #ffffff;
    border: 1px solid rgb(192, 56, 56);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

.userCard .textAndPic {
    padding: 50px;
}

.picture {
    float: left;
    height: 360px;
    width: 230px;
    background-color: rgb(131, 131, 241);
}
.picture img {
    height: 100%;
    width: 100%;
}

.text {
    float: left;
    margin-left: 75px;
    width: 450px;
}

.userCard .welcome {
    position: relative;
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 16px; 
    line-height: 22px;
}
.welcome .trangle {
    position: absolute;
    display: block;
    left: 4px;
    top: 100%;
    width: 0;
    border: 10px solid transparent;
    border-left: 10px solid #E6686A;
    border-top: 0;
}

.userCard h1 {
    margin-top: 19px;
}

.userCard p {
    margin-top: 10px;
}

.userCard hr {
    margin: 18px 0 10px 1px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    margin-top: 9px;
    padding: 5px 0;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard footer.media {
    width: 100%;
    height: 80px;
    line-height: 100px;
    color: white;
}
footer ul {
    height: inherit;
    background-color: #E6696A;
    text-align: center;
}
footer ul li {
    display: inline-block;
    margin: 0 40px;
}

/* main */
main {
    margin: 0 auto;
    margin-top: 350px;
    width: 100%;
}

main .download-wrapper {
    text-align: center;
}

main a.button {
    display: inline-block;
    margin: 32px auto;
    padding: 21px 55px;
    line-height: 16px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    color: #3d4451;
    font-size: 14px;
    font-weight: bold;
    transition: box-shadow 0.5s;
}

main a.button:hover {
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.2)
}

main .myIntro {
    max-width: 930px;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
    font-family: "楷体";
}

/* section skill & portfolio */
section.skills,
section.portfolio {
    max-width: 930px;
    margin: 0 auto;
    margin-top: 60px;
}

.skills h2,
.portfolio h2 {
    text-align: center;
    counter-reset: black;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skills ol {
    margin-top: 30px;
    padding: 42px 50px 10px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}

.skills li span {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.skills ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}
.skills ol li:nth-child(2n) {
    float: right;
}

.skills ol .progressBar {
    margin: 4px 0 40px;
    height: 4px;
    background-color: #FAE1E1;
    border-radius: 2px;
}

.skills .progressBar > .progress {
    height: 100%;
    background-color: #e6686A;
    width: 50%;
    border-radius: 2px;
}

.portfolio {
    text-align: center;
}

.portfolio nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

.portfolio nav ol {
    margin: 0 auto;
    display: inline-block;
    /* 去除添加inline-block后的空隙 */
    vertical-align: top;
}

.portfolio nav ol li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.portfolio nav ol li:nth-child(1) {
    margin-left: 0;
}

.portfolio nav .bar {
    margin: 10px 0;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.portfolio nav .bar-inner {
    height: 100%;
    width: 10%;
    border-radius: 3px;
    background-color: #E6686A;
    transition: all 0.3s;
}

.portfolio .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

.portfolio .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

.portfolio .bar.state-3 .bar-inner {
    margin-left: 129px;
    width: 95px;
}

.portfolio .works {
    position: relative;
}

.portfolio .works > .big,
.portfolio .works > .small {
    position: absolute;
    border: 1px solid;
}

.portfolio .works > .big {
    width: 606px;
    height: 597px;
}

.portfolio .works > .small {
    width: 293px;
    height: 285px;
}